<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/header.ejs') %>
<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/sidenav.ejs') %>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- Left Side - Images -->
            <div class="d-flex align-items-center"> <!-- Added align-items-center class -->
                <div class="headOne">
                    <a class="navbar-brand" href="#">
                        <img src="./images/adminpage/Homy-logos_transparent.png" alt="Logo" width="120"  height="100" class="d-inline-block align-text-top">
                    </a>
                </div>
                <div class="headTwo mx-auto d-flex justify-content-center align-items-center w-100"> <!-- Added w-100 class for 100% width -->
                    <a class="navbar-brand" href="#">
                        <img src="./images/adminpage/homy.png" style="margin-left: 420px" alt="Logo" width="180" height="100" class="d-inline-block align-text-top">
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar bg-body-warning fixed-top-10px">
        <div class="container mt-2 mb-2">
          <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h3 class="offcanvas-title mt-3 " id="offcanvasNavbarLabel">Homy Admin Panel</h3>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body m-3 ">
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-5 ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allOrders">All Orders</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allUsers">Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allProducts">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allCategory">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allOffers">Offers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allCoupons">Coupons</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allBanners">Banners</a>
                  </li>
                  
              </ul>
              
            </div>
          </div>
          <div class="custom-background d-flex justify-content-between align-items-center">
            <div class="navOne">
              <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item    mt-3 ms-3 "><a href="/admin/dashboard" class="text-light">Dashboard</a></li>
                  <li class="breadcrumb-item    mt-3 ms-3 "><a href="/admin/allProducts" class="text-light">All Products</a></li>
                  <li class="breadcrumb-item active  mt-3 text-light       " aria-current="page">Edit Products</li>
                </ol>
              </nav>
            </div>
            <div class="navTwo d-flex align-items-center">
                <span class="me-3 text-light">Hi, Sreekuttan</span> 
                <form action="/admin/logout"  method="post">
                    <input type="submit" class="btn mt-2 text-light mb-2 " value="Logout">
                </form>
            </div>
        </div>
        </div>
      </nav>
</header>




<section>
  <div class="container mb-5">
      <a href="/admin/allProducts" class="btn btn-secondary mb-3 ms-5">Back</a>
      <div class="row">
          <div class="col-md-8 mx-auto">

              <h1 class="modal-title" id="staticBackdropLabel">Edit <%=products.productName%></h1>
              <h5 class="productError text-danger "><%=productEditError%></h5>
              <!-- <form action="/admin/editProducts" method="post" enctype="multipart/form-data"> -->
                 
                  <div class="mb-3 d-flex">
                    <table>
                        <tr>
                            <td>
                                <div class="addProductNameTopOne  " style="width: 410px;">
                                    <label for="productName" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" name="productName" placeholder="Product Name" id="ProductName" value="<%=products.productName%>">
                                </div>
                            </td>
                            <td>
                                <div class="addProductNameTopTwo" style="width: 410px;margin-left: 20px;">
                                    <label for="brandName" class="form-label">Brand Name</label>
                                    <input type="text" class="form-control" name="productBrand" placeholder="Brand Name" id="productBrand" value="<%=products.productBrand%>">
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                    
                    
                </div>
                  <input type="hidden" name="productId" id="ProductId" value="<%=products._id%>">
                  <div class="mb-3">
                      <table class="table table-borderless">
                          <tr>
                              <td>
                                  <div class="mb-3">
                                    <input type="hidden" name="productId" id="ProductId">
                                      <label for="productCategory" class="form-label">Select Category</label>
                                      <input type="hidden" id="categoryList" data-category-id="<%=category%>">
                                      <select class="form-select" id="ProductCategory" name="productCategory" aria-label="<%=products.productCategory.categoryName%>"  >
                                    
                                        <% if(category.length>0) 
                                        {
                                            for(let i=0;i<category.length;i++)
                                        {
                                        %>
                
                                        <option value="<%=category[i].categoryName%>"><%=category[i].categoryName%></option> 
                
                
                                        <%
                                        }
                                         }
                                        %>
                                        
                                      
                                      </select>
                                  </div>
                              </td>
              
                              <td>
                                  <div class="mb-3">
                                      <label for="productPrice" class="form-label">Price</label>
                                      <input type="number" class="form-control" name="productPrice" placeholder="Price" id="ProductPrice" value="<%=products.productPrice%>">
                                  </div>
                              </td>
              
                              <td>
                                  <div class="mb-3">
                                      <label for="productQuantity" class="form-label">Quantity</label>
                                      <input type="number" class="form-control" name="productQuantity" placeholder="Quantity" id="ProductQuantity" value="<%=products.productQuantity%>">
                                  </div>
                              </td>
                          </tr>
                      </table>
                  </div>
              
                  <div class="mb-3">
                      <label for="productDescription" class="form-label">Description</label>
                      <textarea class="form-control" name="productDescription" placeholder="Description" id="ProductDescription" rows="4"><%=products.productDescription%></textarea>
                  </div>
                  
                  <div class="container">
                      <table class="image-table">
                          <tr>
                              <td>
                                  <!-- <div class="card">
                                      <div class="card-header">Image 1</div>
                                      <div class="card-body">
                                          <div id="preview1" class="image-preview"><img src="./images/adminpage/<%=products.productImage[0]%>" alt="<%=products.productImage[0]%>" class="img-fluid mb-2" style="max-height: 200px;"></div>
                                          <input type="file" name="productImage" id="ProductImage1" class="image-input"  onchange="previewImage(this, 'preview1')">
                                      </div>
                                  </div> -->
                                  <div class="card text-center mb-3" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title">Image one</h5>
                                      <div class="close-icon" onclick="deleteImage('image1', 'preview1');">&times;
                                    </div>
                                    <label for="image1" class="form-label " >
                                        <img id="preview1" src="./images/adminpage/<%=products.productImage[0]%>" alt="" style="width: 200px;">
                                    </label>
                                    <input type="file" class="form-control" id="image1" name="productImage"
                                        style="display: none;" onchange="updateImage('image1', 'preview1')">
                                        <button type="button" class="btn btn-success" onclick="document.getElementById('image1').click();">Upload Image</button>  
                                    </div>
                                  </div>

                              </td>
                              <td>                                 
                                        <div class="card text-center mb-3" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">Image two</h5>
                                          <div class="close-icon" onclick="deleteImage('image2', 'preview2');">&times;
                                        </div>
                                        <label for="image2" class="form-label">
                                            <img id="preview2" src="./images/adminpage/<%=products.productImage[1]%>" alt="" style="width: 200px;">
                                        </label>
                                        <input type="file" class="form-control" id="image2" name="productImage"
                                            style="display: none;" onchange="updateImage('image2', 'preview2')" >
                                            <button type="button" class="btn btn-success" onclick="document.getElementById('image2').click();">Upload Image</button>  
                                        </div>
                                        </div>
                              </td>
                              <td>
                                <div class="card text-center mb-3" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title">Image three</h5>
                                      <div class="close-icon" onclick="deleteImage('image3', 'preview3');">&times;
                                    </div>
                                    <label for="image3" class="form-label " >
                                        <img id="preview3" src="./images/adminpage/<%=products.productImage[2]%>" alt="" style="width: 200px;">
                                    </label>
                                    <input type="file" class="form-control" id="image3" name="productImage"
                                        style="display: none;" onchange="updateImage('image3', 'preview3')" >
                                        <button type="button" class="btn btn-success" onclick="document.getElementById('image3').click();">Upload Image</button>  
                                    </div>
                                  </div>
                              </td>
                          </tr>
                      </table>
                  </div>
              
              
                  <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" id="submitButton">Update</button>
                </div>
                 
              
                 
              <!-- </form> -->
              

              <!-- Modal one-success start-->
              <div class="modal fade" id="staticBackdropAddSuccess" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-body">
                              <div class="mb-3 row">
                                  <div class="col-sm-10">
                                      <div class="d-flex flex-wrap">
                                          <h4 class="text-success">New Product Added Successfully</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="modal-footer d-flex justify-content-center">
                              <a href="" data-bs-toggle="modal"><button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button></a>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Modal one-success end-->

          </div>
      </div>
  </div>
</section>




<!-- crop modal -->

<div class="modal fade" id="imageCropModal" tabindex="-1" aria-labelledby="imageCropModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageCropModalLabel">Crop Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body p-0 m-0">
                <img id="imageToCrop" src="" alt="Crop this image"
                    style="width: 100%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"
                    id="cropImageBtn">Crop</button>
            </div>
        </div>
    </div>
  </div>


<script>
    let currentInputId, currentPreviewId, cropper;
let croppedImages = {};
var oldimageUrl = []
let originalFileNames = {};


document.addEventListener("DOMContentLoaded", function () {

    document.getElementById('image1').addEventListener('change', function () { prepareImageForCropping('image1', 'preview1'); });
    document.getElementById('image2').addEventListener('change', function () { prepareImageForCropping('image2', 'preview2'); });
    document.getElementById('image3').addEventListener('change', function () { prepareImageForCropping('image3', 'preview3'); });
    console.log("image 1",document.getElementById('preview1').src);
    console.log("image 2",document.getElementById('preview2').src);
    console.log("image 3",document.getElementById('preview3').src);
    const url1=document.getElementById('preview1').src
    const url2=document.getElementById('preview2').src
    const url3=document.getElementById('preview3').src
    const url = "http://localhost:4000/admin/images/adminpage/";

    if (url1.startsWith(url)) {
        const diff = url1.substring(url.length);
        console.log("Difference1:", diff);
        if(!diff)
        {
            document.getElementById('preview1').src = 'https://t4.ftcdn.net/jpg/04/81/13/43/360_F_481134373_0W4kg2yKeBRHNEklk4F9UXtGHdub3tYk.jpg';
        }
       
    } 
    
    if (url2.startsWith(url)) {
        const diff = url2.substring(url.length);
        console.log("Difference2:", diff);
        if(!diff)
        {
            document.getElementById('preview2').src = 'https://t4.ftcdn.net/jpg/04/81/13/43/360_F_481134373_0W4kg2yKeBRHNEklk4F9UXtGHdub3tYk.jpg';
        }
       
    } 

    if (url3.startsWith(url)) {
        const diff = url3.substring(url.length);
        console.log("Difference3:", diff);
        if(!diff)
        {
            document.getElementById('preview3').src = 'https://t4.ftcdn.net/jpg/04/81/13/43/360_F_481134373_0W4kg2yKeBRHNEklk4F9UXtGHdub3tYk.jpg';
        }
       
    } 

    document.getElementById('cropImageBtn').addEventListener('click', function () {
        performCropping();
    });


    $('#imageCropModal').on('shown.bs.modal', function () {
        let image = document.getElementById('imageToCrop');
        cropper = new Cropper(image, {
            aspectRatio: 1,
            viewMode: 1,
            dragMode: "move",
            minContainerWidth: 450,
            minContainerHeight: 500,
            minCropBoxWidth: 400,
            minCropBoxHeight: 400,
            minCanvasHeight: 500,
            minCanvasWidth: 500,

        });
    });


    $('#imageCropModal').on('hidden.bs.modal', function () {
        if (cropper) {
            cropper.destroy();
            cropper = null;
        }
    });
});

function prepareImageForCropping(inputId, previewId) {
    currentInputId = inputId;
    currentPreviewId = previewId;
    const input = document.getElementById(inputId);
    const file = input.files[0];
    originalFileNames[inputId] = file.name;

    const reader = new FileReader();
    reader.onload = function (e) {
        document.getElementById('imageToCrop').src = e.target.result;
        $('#imageCropModal').modal('show');
    };
    reader.readAsDataURL(file);
}


function performCropping() {
    if (!cropper) {
        console.error("Cropper is not initialized.");
        return;
    }
    cropper.getCroppedCanvas().toBlob((blob) => {

        const preview = document.getElementById(currentPreviewId);
        preview.src = URL.createObjectURL(blob);

        croppedImages[currentInputId] = blob;


        $('#imageCropModal').modal('hide');
    }, 'image/png')


}

function deleteImage(inputId, previewId) {
            const id = document.getElementById('ProductId').value
            var preview = document.getElementById(previewId).getAttribute('src')
            const segments = preview.split('/');
            const filename = segments[segments.length - 1]
            axios.post('/admin/deleteImage', { preview, filename, id })

                .then(res => {
                    if (res.data.success) {
                        console.log("hiii");
                        document.getElementById(inputId).value = '';
                        document.getElementById(previewId).src = 'https://t4.ftcdn.net/jpg/04/81/13/43/360_F_481134373_0W4kg2yKeBRHNEklk4F9UXtGHdub3tYk.jpg';
                    }
                }).catch(err => {
                    console.log('Error');
                })

        }


       function updateImage(inputId, previewId) {

            var input = document.getElementById(inputId);
            var preview = document.getElementById(previewId);
            const oldurl = preview.src
            const segments = oldurl.split('/');
            const filename = segments[segments.length - 1];
            console.log(filename);

            oldimageUrl.push(filename)

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
            }


document.addEventListener('DOMContentLoaded', function () {

    const submitButton = document.getElementById('submitButton')
    submitButton.addEventListener('click', function (e) {
        e.preventDefault()
        console.log("step 1");

        console.log(document.getElementById('ProductName').value);
        const productId=document.getElementById('ProductId').value
        const productName = document.getElementById('ProductName').value
        const category = document.getElementById('ProductCategory').value
        const price = document.getElementById('ProductPrice').value
        const productBrand=document.getElementById('productBrand').value
        console.log("step 2");
        const description = document.getElementById('ProductDescription').value
        const quantity = document.getElementById('ProductQuantity').value
        const image1 = document.getElementById('image1').files[0]
        const image2 = document.getElementById('image2').files[0]
        const image3 = document.getElementById('image3').files[0]
        console.log("step 3");
        console.log("img 1",image1);
        console.log("img 2",image2);
        console.log("img 3",image3);
        

        const formData = new FormData();
        formData.append('productId',productId)
        formData.append('productName', productName)
        formData.append('productCategory', category)
        formData.append('productPrice', price)
        formData.append('productDescription', description)
        formData.append('productQuantity', quantity)
        formData.append('productBrand',productBrand)
        formData.append('oldimageUrl', JSON.stringify(oldimageUrl))
        console.log("step 4");
        Object.keys(croppedImages).forEach(key => {
            const originalFileName = originalFileNames[key];
            formData.append(`productImage`, croppedImages[key],originalFileName);
        });
        console.log(formData);
        console.log("hello ..>>>>>>");
        axios.post('/admin/editProducts', formData, {
            headers: {
                'Content-type': "multipart/form-data"
            }
        }).then((res) => {
            if (res.data.success) {
                window.location.href = '/admin/allProducts'
            }else{
                window.location.href = '/admin/allProducts'
            }

        }).catch((err) => {
            console.log('error', err);
        });

    })
})
</script>

<!-- category name -->
<script>
document.addEventListener('DOMContentLoaded',()=>{
    const categoryName=document.getElementById('ProductCategory')
    const name=categoryName.getAttribute('aria-label')
    categoryName.value=name
})
</script>



<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/footer.ejs') %>
