<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/header.ejs') %>
<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/sidenav.ejs') %>

<% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
    <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
    </div>
<% } %>

<div class="container" style="margin-left: 300px; margin-top: 50px;">   
    <h1>Product Edit Offer !!!</h1>
    <form action="/admin/editOfferProductPost" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="offerName" class="form-label">Offer Name</label>
                    <input type="text" class="form-control" name="offerName" value="<%= offer.offerName %>" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="discount" class="form-label">Discount</label>
                    <input type="number" class="form-control" name="discount" value="<%= offer.discount %>" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="date" class="form-control" name="startDate" value="<%= offer.startDate.toISOString().split('T')[0] %>" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="date" class="form-control" name="endDate" value="<%= offer.endDate.toISOString().split('T')[0] %>" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="productId" class="form-label">Product</label>
                    <select class="form-select" name="productId" required>
                        <% products.forEach((item) => { %>
                            <option value="<%= item._id %>" <%= offer.productId._id.equals(item._id) ? 'selected' : '' %>><%= item.name %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Offer</button>
    </form>
</div>

<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/footer.ejs') %>
 