<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/header.ejs') %>
<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/sidenav.ejs') %>

<div class="container" style="margin-left: 250px;">
  <h1 style="margin-left: 70px;">Add Coupon</h1>

  <main>
    <div class="row">
      <form action="/admin/addcoupon" method="POST" style="margin-left: 70px;">
        <div class="mb-3">
          <label for="couponCode" class="form-label">Coupon Code</label>
          <input type="text" class="form-control" name="couponCode" required 
                value="<%=couponData.couponCode %>"
                 pattern="^(?!\s)(?!.*\s$)(?!.*?\s\s)[A-Za-z\s]{1,}$" 
                 title="Only spaces between characters are allowed, no leading or trailing spaces, and at least one character should be entered."
                 style="width: 500px; background-color: #f0f0f0;">
          <div class="invalid-feedback">Please enter a valid coupon code.</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="discountAmount" class="form-label">Discount Amount (₹)</label>
            <input type="number" class="form-control" name="discountAmount" required value="<%= couponData.discountAmount %>"
                   style="width: 500px; background-color: #f0f0f0;">
          </div>
          <div class="mb-3 col-md-6">
            <label for="minimumAmount" class="form-label">Minimum Amount (₹)</label> 
            <input type="number" class="form-control" name="minimumAmount" required value="<%= couponData.minimumAmount %>"
                   style="width: 500px; background-color: #f0f0f0;">
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" name="description" rows="3" required 
                    style="width: 500px; background-color: #f0f0f0;"><%= couponData.description %></textarea>
        </div>

        <div class="mb-3">
          <label for="expiryDate" class="form-label">Expiry Date</label>
          <input type="date" class="form-control" name="expiryDate" value="<%= couponData.expiryDate %>" required 
                 style="width: 500px; background-color: #f0f0f0;">
          <% if(typeof errorMessage !== 'undefined') { %>
            <p style="color: red;"><%= errorMessage %></p>
          <% } %>
        </div>

        <button type="submit" class="btn btn-primary">Add Coupon</button>
      </form>
    </div>
  </main>
</div>

<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/footer.ejs') %>
