<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/header.ejs') %>
<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/sidenav.ejs') %>  

<div class="container" style="margin-left: 300px;">  
    <h1>Edit Offer !!!</h1>
 
    <form action="editOffer" method="POST">
        
        <div class="row">
        
            <div class="col-md-6">
             
                <div class="mb-3">
                    <label for="offerName" class="form-label">Offer Name</label>
                    <input type="text" class="form-control" name="offerName" value="<%=offer.offerName%>" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="discount" class="form-label">Discount</label>
                    <input type="number" class="form-control" name="discount" value="<%=offer.discount%>" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="date" class="form-control" name="startDate" value="<%=offer.startDate.toISOString().split('T')[0]%>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="date" class="form-control"  value="<%=offer.endDate.toISOString().split('T')[0]%>" name="endDate">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="offerType" class="form-label">Offer Type</label>
                    <select class="form-select" name="offerType" id="offerType" required>
                        <option value="category">Category</option>
                        <option value="product">Product</option>
                        <option value="referral">Referral</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3" id="productSelect">
                    <label for="productId" class="form-label">Product</label>
                    <select class="form-select" name="productId">
                        <% products.forEach((item) => { %>
                            <option value="<%=item._id%>" ><%= item.productName %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="mb-3" id="categorySelect" style="display:none;">
                    <label for="categoryId" class="form-label">Category</label>
                    <select class="form-select" name="categoryId">
                        <% categories.forEach((item) => { %>
                            <option  value="<%=item._id%>" ><%= item.catName %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Edit Offer</button>
        <input type="hidden" id="id" name="id" value="<%=offer._id %>">
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const offerTypeSelect = document.getElementById('offerType');
        const productSelect = document.getElementById('productSelect');
        const categorySelect = document.getElementById('categorySelect');
        
        // Function to show/hide product or category select based on offer type
        function toggleSelects() {
            const selectedOfferType = offerTypeSelect.value;
            if (selectedOfferType === 'product') {
                productSelect.style.display = 'block';
                categorySelect.style.display = 'none';
            } else if (selectedOfferType === 'category') {
                productSelect.style.display = 'none';
                categorySelect.style.display = 'block';
            } else {
                productSelect.style.display = 'none';
                categorySelect.style.display = 'none';
            }
        }

        // Initial call to toggleSelects
        toggleSelects();

        // Event listener for offerType select change
        offerTypeSelect.addEventListener('change', toggleSelects);
    });
</script>
<br><br><br>
<%- include('/home/ubuntu/ModernFurniture/views/admin_Layouts/footer.ejs') %>
