<%- include('../form_layouts/header.ejs') %>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Email OTP Verification</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(images/bg-1.jpg);"></div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Verify Email</h3>
                                <p style="color: #3b5d50;">Check your email to verify OTP</p>
                                <% if (typeof message != 'undefined') { %>
                                    <p class="text-danger"><%= message %></p>
                                <% } %>
                            </div>
                        </div>
                        <form id="verificationForm" class="verification-form" action="/verifyOtp" method="post">
                            <div class="form-group mb-2">
                                <label class="label" for="otp">OTP</label>
                                <input type="text" class="form-control" placeholder="Enter OTP" name="otp" required>
                                <input type="hidden" value="<%= email %>" readonly name="email">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Verify</button>
                            </div>
                        </form>
                        <div class="form-group text-center">
                            <p id="timerMessage">Resend OTP in <span id="timer">60</span> seconds</p>
                        </div>
                        <div class="form-group text-center" id="resendLink" style="display: none;">
                            <button id="resendOTP" class="btn btn-link">Resend OTP</button>
                            <p id="resendMessage" style="color: green;"></p> <!-- New element for success message -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../form_layouts/footer.ejs') %>

<script>
    var timeLeft = <%= typeof timer !== 'undefined' ? Math.floor(timer) : 60 %>; // Set default time to 60 seconds
    var timerElement = document.getElementById('timer');
    var timerMessage = document.getElementById('timerMessage');
    var resendLink = document.getElementById('resendLink');
    var resendOTPButton = document.getElementById('resendOTP');
    var timer;

    function countdown() {
        if (timeLeft <= 0) {
            clearTimeout(timer);
            resendLink.style.display = 'block';
            timerMessage.innerHTML = "Resend OTP now";
            return;
        }
        timerElement.innerHTML = timeLeft;
        timeLeft--;
        timer = setTimeout(countdown, 1000);
    }
    countdown();

    resendOTPButton.addEventListener('click', function(e) {
        e.preventDefault();
        resendOTP();
    });

    function resetTimer() {
        timeLeft = 60; // Reset timer to 60 seconds
        clearTimeout(timer);
        timerMessage.innerHTML = "Resend OTP in <span id='timer'>" + timeLeft + "</span> seconds";
        countdown(); 
        resendLink.style.display = 'none';
    }

    function resendOTP() {
        fetch('/resendOtp', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email: '<%= email %>' })
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === 'OTP resent successfully') {
                resetTimer();
            } else {
                console.error('Error:', data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
