<%- include('../layouts/header.ejs') %>
<%- include('../layouts/navbar.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="zoomContainer">
                <img id="zoom_04" src="/productimage/<%= products.image[0] %>" data-zoom-image="/productimage/<%= products.image[0] %>">
                <button class="btn btn-outline-danger wishlist-icon" data-product-id="<%= products._id %>">
                    <i class="fas fa-heart"></i>
                </button>
                <div class="xzoom-thumbs">
                    <% products.image.forEach((img, index) => { %>
                        <a href="#" data-image="/productimage/<%= img %>">
                            <img class="xzoom-gallery" src="/productimage/<%= img %>" data-big="/productimage/<%= img %>">
                        </a>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="description">
                <h1><%= products.name %></h1>
                <p><%= products.description %></p>
                <% if (products.discount > 0) { %>
                    <span>Original Price: ₹<%= products.price.toFixed(2) %></span>
                    <br>
                    <span class="text-danger">Discounted Price: ₹<%= products.discountedPrice.toFixed(2) %></span>
                <% } else { %>
                    <span>Price: ₹<%= products.price.toFixed(2) %></span>
                <% } %>
                <p>Stock left: <%= products.stock %></p>

                <div>
                    <% if (products.stock > 0) { %>
                        <a href="/addToCart?productId=<%= products._id %>" class="btn btn-success" style="margin-top: 40px;">Add To Cart</a>
                    <% } else { %>
                        <button class="btn btn-secondary" disabled>Out of Stock</button>
                    <% } %>

                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>

<script>
    $(document).ready(function() {
        $('#zoom_04').ezPlus({
            zoomType: 'lens',
            lensShape: 'round',
            lensSize: 200,
            borderSize: 1,
            responsive: true,
            gallery: 'xzoom-thumbs',
            cursor: 'pointer',
            galleryActiveClass: 'active',
            imageCrossfade: true,
            scrollZoom: true,
            loadingIcon: '/images/loading.gif',
        });

        const wishlistIcon = document.querySelector('.wishlist-icon');

        wishlistIcon.addEventListener('click', function(event) {
            event.preventDefault();

            const productId = this.getAttribute('data-product-id');

            fetch(`/wishlist/add/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Added to Wishlist',
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Could not add to wishlist. Try again later.',
                    });
                }
            }).catch(error => {
                console.error('Error adding to wishlist:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Could not add to wishlist. Try again later.',
                });
            });
        });

        $('.xzoom-thumbs a').click(function(event) {
            event.preventDefault();

            const selectedImage = event.currentTarget.getAttribute('data-image');
            $('#zoom_04').attr('src', selectedImage);
            $('#zoom_04').data('zoom-image', selectedImage);

            $('#zoom_04').ezPlus({
                zoomType: 'lens',
                lensShape: 'round',
                lensSize: 200,
                borderSize: 1,
                responsive: true,
                gallery: 'xzoom-thumbs',
                cursor: 'pointer',
                galleryActiveClass: 'active',
                imageCrossfade: true,
                scrollZoom: true,
                loadingIcon: '/images/loading.gif',
            });
        });
    });
</script>

<%- include('../layouts/footer.ejs') %>
