<%- include('../layouts/header.ejs') %>
<%- include('../layouts/navbar.ejs') %>

<!-- Sorting Options -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
           <!-- Sorting Options -->
           <select class="form-select" id="sortingOptions">
               <option value="">Sort By:</option>
               <option value="nameAZ">Name: A-Z</option>
               <option value="nameZA">Name: Z-A</option>
               <option value="newArrivals">New Arrivals</option>
               <option value="priceLowToHigh">Price: Low to High</option>
               <option value="priceHighToLow">Price: High to Low</option>
           </select>
        </div>
    </div>
</div>

<!-- Category Filter -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
           <!-- Category Filter -->
           <select class="form-select" id="categoryFilter">
               <option value="">All Categories</option>
               <% categories.forEach(element => { %>
               <option value="<%= element._id %>"><%= element.name %></option>
               <% }) %>
           </select>
        </div>
    </div>
</div>

<!-- Product Listing -->

<!-- Product Listing -->
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row" id="productList">
            <% products.forEach(product => { %>
            <div class="col-12 col-md-4 col-lg-4 mb-5">
                <a class="product-item" href='/productFull?id=<%= product._id %>'>
                    <% if (product.discount > 0) { %>
                    <span class="badge bg-danger p-3 big-offer-badge"><%= product.discount %>% OFF</span>
                    <% } %>
                    <img src="/productimage/<%= product.image[0] %>" class="img-fluid product-thumbnail">
                    <% if (product.isNew) { %>
                    <span class="badge bg-success">New</span>
                    <% } %>
                    <% if (product.stock === 0) { %>
                    <span class="badge bg-danger">Out of Stock</span>
                    <% } %>
                    <h3 class="product-title"><%= product.name %></h3>
                    <% if (product.discount > 0) { %>
                    <strong class="product-price text-decoration-line-through"><%= product.price.toFixed(2) %></strong>
                    <strong class="product-price"><%= product.discountedPrice.toFixed(2) %></strong>
                    <% } else { %>
                    <strong class="product-price"><%= product.price.toFixed(2) %></strong>
                    <% } %>
                    <button class="btn btn-outline-danger wishlist-icon" data-product-id="<%= product._id %>">
                        <i class="fas fa-heart"></i>
                    </button>
                    <% if (product.stock > 0) { %>
                    <a href="/addToCart?productId=<%= product._id %>" class="btn btn-success">Add To Cart</a>
                    <% } else { %>
                    <button class="btn btn-secondary" disabled>Out of Stock</button>
                    <% } %>
                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <% }) %>
        </div>
    </div>
</div>



<%- include('../layouts/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('sortingOptions').addEventListener('change', function () {
        fetchProducts();
    });
    
    document.getElementById('categoryFilter').addEventListener('change', function () {
        fetchProducts();
    });
    
    function fetchProducts() {
        var sortingCriteria = document.getElementById('sortingOptions').value;
        var category = document.getElementById('categoryFilter').value;
    
        fetch(`/sortProducts?sort=${sortingCriteria}&category=${category}`)
            .then(response => response.json())
            .then(data => {
                renderProducts(data.products);
            })
            .catch(error => console.error('Error fetching and sorting products:', error));
    }
    
    function renderProducts(products) {
        var productList = document.getElementById('productList');
        productList.innerHTML = ''; // Clear existing products
    
        products.forEach(product => {
            var productItem = `
                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <a class="product-item" href='/productFull?id=${product._id}'>
                        ${product.discount > 0 ? `<span class="badge bg-danger p-3 big-offer-badge">${product.discount}% OFF</span>` : ''}
                        <img src="/productimage/${product.image[0]}" class="img-fluid product-thumbnail">
                        ${product.isNew ? '<span class="badge bg-success">New</span>' : ''}
                        ${product.stock === 0 ? '<span class="badge bg-danger">Out of Stock</span>' : ''}
                        <h3 class="product-title">${product.name}</h3>
                        ${product.discount > 0 
                            ? `<strong class="product-price text-decoration-line-through">${product.price}</strong>
                               <strong class="product-price">${product.discountedPrice}</strong>`
                            : `<strong class="product-price">${product.price}</strong>`
                        }
                        <button class="btn btn-outline-danger wishlist-icon" data-product-id="${product._id}">
                            <i class="fas fa-heart"></i>
                        </button>
                        ${product.stock > 0 
                            ? `<a href="/addToCart?productId=${product._id}" class="btn btn-success">Add To Cart</a>`
                            : '<button class="btn btn-secondary" disabled>Out of Stock</button>'
                        }
                        <span class="icon-cross">
                            <img src="assets/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
            `;
            productList.insertAdjacentHTML('beforeend', productItem);
        });
    
        attachEventListeners();
    }
    
    function attachEventListeners() {
        const wishlistIcons = document.querySelectorAll('.wishlist-icon');
        wishlistIcons.forEach(icon => {
            icon.addEventListener('click', function() {
                const productId = this.dataset.productId;
                fetch(`/wishlist/add/${productId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => response.json())
                  .then(data => {
                      if (data.success) {
                          Swal.fire({
                              icon: 'success',
                              title: 'Added to Wishlist',
                              showConfirmButton: false,
                              timer: 1500
                          });
                      } else {
                          Swal.fire({
                              icon: 'error',
                              title: 'Error',
                              text: data.message || 'Could not add to wishlist. Try again later.',
                          });
                      }
                  })
                  .catch(error => {
                      Swal.fire({
                          icon: 'error',
                          title: 'Error',
                          text: 'Could not add to wishlist. Try again later.',
                      });
                      console.error('Error adding to wishlist:', error);
                  });
            });
    
            icon.closest('.product-item').addEventListener('mouseenter', function() {
                icon.style.display = 'block';
            });
    
            icon.closest('.product-item').addEventListener('mouseleave', function() {
                icon.style.display = 'none';
            });
        });
    }
    
    // Initial fetch and render of products
    fetchProducts();
    </script>
